* {
    background-color: #aac1b5;
}

header {
        text-align: center;
        padding: 25px;
        font-size: 55px;
        background-color: #d0c7b6;
        margin-left: 700px;
        margin-right: 700px;
        color:#f0e8d9
        
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #d0c7b6;
    width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.display {
    padding: 50px;
    background-color: #f5f2ec;
    margin-bottom: 60px;
    font-size: 20px;
    text-align: left;
}


button {
    padding: 30px;
    flex: 1;
    background-color: #f0e8d9;

}

.operator {
    background-color: #c1decf;
}

button:active {
    background-color: darkgray;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
}
.row2 {
    display: flex;
    justify-content: space-evenly;
}
.row3 {
    display: flex;
    justify-content: space-evenly;
}
.row4 {
    display: flex;
    justify-content: space-evenly;
}
.row5 {
    display: flex;
    justify-content: space-evenly;
}